body, html
{
	margin: 0; padding: 0; height: 100%;
	animation: colorchange 30s infinite;
	-webkit-animation: colorchange 30s infinite;
}

@keyframes colorchange
{
	0%   {background: #ff8701;}
	35%  {background: #ff4446;}
	70%  {background: #ffba36;}
	100% {background: #ff8701;}
}

@-webkit-keyframes colorchange
{
	0%   {background: #ff8701;}
	35%  {background: #ff8701;}
	70%  {background: #ffba36;}
	100% {background: #ff8701;}
}

#content
{
	position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
	text-align: center;
	color: white;
	font-family: 'Tillana', sans-serif;
	font-size: 20px;
}

.text-center {
	text-align: center;
}

h2 {
	font-family: "Amatic SC";
	font-size: 80px;
	font-style: normal;
	font-variant: normal;
	line-height: 100px;
	text-transform:uppercase;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
}

a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid;
}

@keyframes textcolorchange
{
	0%   {color: #ff8701;}
	35%  {color: #ff4446;}
	70%  {color: #ffba36;}
	100% {color: #ff8701;}
}

@-webkit-keyframes textcolorchange
{
	0%   {color: #ff8701;}
	35%  {color: #ff8701;}
	70%  {color: #ffba36;}
	100% {color: #ff8701;}
}

input, button, .button {
	background: transparent;
	border: 1px solid white;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	font-family: 'Tillana', sans-serif;
	outline: none;
}

input {
	width: 50%;
	padding: 0 10px;
}

button:focus, button:active, .button:focus, .button:active, input:focus, input:active {
	box-shadow: 0px 0px 100px #eee;
}

button, .button {
	padding: 0 30px;
	cursor: pointer;
}

input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
}

input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
}

input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
}

input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
}

#message, #shortenedURLArea {
	display: none;
}

#message {
	font-family: 'Open Sans', sans-serif;
}

table {
	margin: 0 auto;
    padding: 25px 0px;
    color: white;
}

thead {
	text-align: center;
    font-weight: bold;
    font-size: 20px;
}

td {
	border: 1px solid white;
    padding: 5px 20px;
}